
:root {
    --gold:  #F1C40F;
    --white:  #ffffff;
    --navfooterbg: #F5F5DC;
    --text: black;
}

#header{
    height: 60vh;
    width: auto;
}
#header nav{
    justify-content: center;
}
#header nav ul{
    gap: 2%;
    padding: 0;
    width: 70%;
    justify-content: center;
}
#navbar{
    position: relative;
}
#navbar li a{
    font-size: 1.7rem;
    text-align: center;
}
#header .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 50%;
}
#header .logo img{
    width: 100%;
}

#reservationButton{
    display: none;
}



#ethique{
    flex-direction: column;
    display: block;
    height: auto;
}
#ethique article{
    flex-direction: column;
    display: flex;
    justify-content: center;
    width: 90%;
    height: 80vh;
    padding-bottom: 10%;
}
#ethique article p{
    text-align: center;
}
#ethique figure{
    flex-direction: column;
    display: flex;
    justify-content: center;
    width: 90%;
}

.m{
    width: 100%;
}
.m img{
    width: 90%;
}
#chef{
    flex-direction: column;
    align-items: center;
    height: auto;
}
#chef article{
    flex-direction: column;
    display: flex;
    justify-content: center;
    width: 90%;
    height: 80vh;
}
#chef article p{
    text-align: center;
}
#chef figure{
    flex-direction: column;
    display: flex;
    justify-content: center;
    width: 90%;
    padding-bottom: 20%;
}
#chef figure img{
    padding: 0;
}
#equipe{
    flex-direction: column;
}
.membre{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.membre .membre-item{
    display: flex;
    justify-content: center;
    width: 80%;
}

#carte{
    flex-direction: column;
    align-items: center;
    height: auto;
}
#carte article{
    flex-direction: column;
    display: flex;
    justify-content: center;
    width: 90%;
    height: 80vh;
    padding-bottom: 10%;
}
#carte article p{
    text-align: center;
}
#carte figure{
    flex-direction: column;
    display: flex;
    justify-content: center;
    width: 90%;
}
.button{
    padding-bottom: 15%;
}

.carroussel-plat{
    flex-direction: column;
    display: block;
    height: auto;
}
.carroussel-plat article{
    flex-direction: column;
    display: flex;
    justify-content: center;
    width: 90%;
    height: 80vh;
    padding-bottom: 10%;
}
.carroussel-plat article h4{
    text-align: center;
}
.carroussel-plat figure{
    flex-direction: column;
    display: flex;
    justify-content: center;
    width: 90%;
}
.vin{
    flex-direction: column;
    align-items: center;
    height: auto;
    margin: 0;
}
.vin article{
    flex-direction: column;
    display: flex;
    justify-content: center;
    width: 90%;
    height: 80vh;
    padding-bottom: 10%;
}
.vin article p{
    text-align: center;
}
.vin figure{
    flex-direction: column;
    display: flex;
    justify-content: center;
    width: 90%;
    padding-bottom: 40%;
}
.vin .button{
    padding-bottom: 15%;
}
.certif{
    padding: 20% 0;
}

footer .container{
    flex-wrap: wrap;
    justify-content: left;
}
.container .logos{
    width: 100%;
}
.liens{
    width: 40%;
}
footer .liens li{
    text-align: left;
}
.contact{
    width: 60%;
    padding-left: 14%;
}
footer .liens{
    display: none;
}
footer .contact{
    display: none;
}