:root {
    --gold:  #F1C40F;
    --white:  #ffffff;
    --navfooterbg: #F5F5DC;
    --text: black;
}

header nav {
    display: flex;
    justify-content: space-between;
    
}

header nav ul {
    display: flex;
    padding-left: 2%;
    border: none;
    gap: 35px;
    margin-top: auto;
    
}

header nav li a {
    text-decoration: none;
    color: var(--text);
    font-family: "Cormorant Garamond", serif;
    font-weight: 500;
    font-size: 50px;
    
}

button {
    padding: 10px 20px; /* Adjust padding for a luxurious feel */
    font-size: 50px; /* Larger font size */
    cursor: pointer;
    background: linear-gradient(145deg, #b29f3c, #d4af37); /* Modern gold gradient background */
    color: black; /* Text color */
    border: none; /* Remove border */
    border-radius: 30px; /* More pronounced rounded corners */
    transition: background 0.8s, transform 0.2s; /* Smooth transition for background and scale */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); /* Softer, larger shadow for depth */
    font-family: "Cormorant Garmond", serif; /* Luxurious font style */
    letter-spacing: 1px; /* Slight letter spacing for a more upscale feel */
    padding-top: 10px;
    
    
}

button:hover {
    background: linear-gradient(145deg, #d4af37, #b29f3c); /* Change gradient on hover */
    transform: translateY(-3px); /* Lift effect on hover */
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.5); /* More pronounced shadow on hover *//

}

button:active {
    transform: translateY(1px); /* Slightly sink on click for feedback */

}

button a {
    text-decoration: none;
    color: var(--text);
    font-weight: 500;
    font-size: 50px;
    
}

header {
    background-image: url(images/headeur.jpg);
    background-size: cover;
    background-position: top;
    height: 100vh;
}

header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    padding-top: 0;      
}



.container {
    display: flex;
    padding: 5%; 
    background-color: #F5F5DC;
    margin: 5% 0; 
    justify-content: space-around;
}

footer .column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

footer .logos {
    width: 20%;
    margin: 1rem 0; 
}

footer .logos img {
    transition: transform 0.2s, box-shadow 0.2s;
    box-shadow: 0 0.3125rem 0.625rem rgba(0, 0, 0, 0.2); 
    width: 6.25rem; 
    margin: 0.625rem 0; 
    border-radius: 30%; 
}

footer .logos img:hover {
    transform: translateY(0.125rem); 
    box-shadow: 0 0.1875rem 0.4375rem rgba(0, 0, 0, 0.6); 
}

img.M {
    width: 18.75rem; 
}

footer .liens ul, .contact ul {
    list-style: none;
    padding: 0;
    width: 80%;
    display: flex;
    flex-direction: column;
    border: 0.0625rem solid #000; 
    height: 100%;
    justify-content: space-evenly
}

.bold {
    font-weight: bold;
}

footer .liens li, .contact li {
    margin: 3% 0; 
    color: #333;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

footer .contact li {
    font-weight: normal;
    text-align: left;
    display: flex;
    margin: 4% 0; 
}

footer .hover-underline:hover {
    text-decoration: underline;
}

footer .icon {
    font-size: 1.25rem; 
    margin-right: 0.625rem;
}